<header> 
    Grape<span class="v">Vine</span>
    <nav>
    <a href="grapevine/new"> Plant grape </a>

    <a href="users/"> Sign up! </a>

    <a href="feedback/">Feedback</a>
    </nav>
</header>

{{#each allGrapes}}

   <div class="messages"> {{message}} </div>

{{/each}}