<header>Sign up!</header>

<form action="/users" method="POST">
<input type="text" name="age" placeholder="Type your age here">
<input type="date" name="createdAt" placeholder="What's the date?">
<input type="submit" value="creation">
</form>